body {
  margin: 0;
  background-color: #000;
  font-family: Helvetica, nimbussansl, liberationsans, freesans, clean, sans-serif;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 23px;
}
.main {
  color: #fff;
}

.movie {
  padding-top: 180px;
  margin: 0 auto;
  width: 1280px;
}

.bg-img {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  background-image: url('./images/main.jpg');
  background-size: cover;
  /*background-position: center center;*/
  background-repeat: no-repeat;
}

.container {
  width: 1280px;
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  display: block;
}

.container .title {
  margin-top: 280px;
  height: 110px;
}

.ticket ul {
  padding: 0 12px 0 12px;
  list-style: none;
}

.reservation .reservation_btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .25s;
}

.reservation .reservation_btn:hover {
  background: #67c5ff;
  color: white;
}

.artists ul {
  padding: 0 12px 0 12px;
}
.artists ul li {
  list-style: none;
  font-size: 32px;
  padding: 12px;
}

#map {
  margin: 0 auto;
  height: 600px;
  width: 1280px;
}
